/* reusable */
%align-center {
  display: flex;
  align-items: center;
}

.my-navbar {
  background-color: $light;
  height: $top-height;
  padding: 0 calc((100vw - 1200px) /2); /* centers the content */
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;

  &-logo { /* equivalent to .my-navbar-logo */
    color: $logoTextColor;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 2rem;
    font-family: $font-family;
    margin-left: 2rem;
    white-space: nowrap;
    outline: none !important;
    line-height: 60px;
    @extend %align-center;

    &:hover {
      transition: color 0.5s ease;
      color: $logoTextSpanColor;
    }

    img {
      width: auto;
      height: 3.5rem;
      margin-right: 0.5rem;
    }

    span {
      color: $logoTextSpanColor;
    }
  }

  &-bars { /* equivalent to .my-navbar-bars */
    opacity: 0; /* hides bar by default */
    @include tablet { /* effects applied when width is 768px or less */
      color: $dark;
      opacity: 1; // show bar
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }
  }

  &-menu { /* equivalent to .my-navbar-menu */
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 10px;
    width: 70vw;
    justify-content: end;

    @include tablet { /* effects applied when width is 768px or less */
      display: none; // hides menu links
    }

    &-item {  /* equivalent to .my-navbar-menu-item */
      @extend %align-center;
      height: $top-height;

      &-link { /* equivalent to .my-navbar-menu-item-link */
        color: $dark;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;

        &:hover { /* equivalent to .my-navbar-menu-item-link:hover */
          color: $hoverLink;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}
